@page "/"

<div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="#">My<span>Resume</span></a></div>
            <ul class="menu">
                <li><a href="#home" class="menu-btn">Home</a></li>
                <li><a href="#about" class="menu-btn">About</a></li>
                <li><a href="#services" class="menu-btn">Portofolio</a></li>
                <li><a href="#skills" class="menu-btn">Education</a></li>
                <li><a href="#contact" class="menu-btn">Contact</a></li>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
    <!-- home section start -->
    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">Hi, my name is</div>
                <div class="text-2">Arfa idrees</div>
                <div class="text-3">I'm a <span class="typinggg"></span></div>
                <a href="#about" class="menu-btn">More info</a>
            </div>
        </div>
    </section>

    <!-- about section start -->
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">About me</h2>
            <div class="about-content">
                <div class="column left">
                    <img src="images/secoond.png" alt="">
                </div>
                <div class="column right">
                    <div class="text"><h2>I'm Arfa idrees</h2></div>
                    <h4>I'm a designer and Frontend Developer</h4>
                    <p>I'm 22 years old girl working hard on my skills.I love doing Painting and reading books in my leasure time.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo distinctio ullam, consequatur atque voluptatem explicabo doloremque quis placeat quas animi corporis eius recusandae dolorum sint ipsa officia doloribus sunt, dolores tempore cumque. Repudiandae, facere quas.</p>
                    <p>Here is my CV you can download it.</p>
                    <a href="#">Download CV</a>
                </div>
            </div>
        </div>
    </section>

    <!-- portofolio section start -->
    <section class="services" id="services">
        <div class="max-width">
            <h2 class="title">My Portofolio</h2>
            <div class="serv-content">
                <div class="card">
                    <div class="box">
                        <i class="fas fa-code"></i>
                        <div class="text">Front-end web Projects</div>
                        <p>My another project of web using HTML CSS & JAVASCRIPT on ASP.NET using MVC</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-paint-brush"></i>
                        <div class="text">Graphic designing portolio website</div>
                        <p>This is my work that i have done using Adobe photoshop and Adobe illustrator</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-camera"></i>
                        <div class="text">Photography website</div>
                        <p>This website portofolio has all the photographs captured by me</p>
                    </div>
                </div>
               </div>
            </div>
      
    </section>

    <!-- Education section start -->
    <section class="skills" id="skills">
        <div class="max-width">
            <h2 class="title">QUALIFICATION</h2>
            <div class="skills-content">
                <div class="column left">
                    <div class="text"><h2>My Qualification and Certificates</h2></div>
                    <h3>Little heart grammar school </h3>
                    <p>Mariculation | 2004-2016 | Karachi</p>
                    <h3>Superior group of colleges </h3>
                    <p>ICS | 2017-2019 | Sialkot</p>
                    <h3>University of Sialkot </h3>
                    <p>BSSE | 2019-Current | Sialkot</p>
                    <h3>Graphic designing course </h3>
                    <p>by NS TRAINING | SMC-Private Limited | 1 month</p>
                    <h3>Content writting course </h3>
                    <p>by NS TRAINING | SMC-Private Limited | 1 month</p>
                    <a href="file:///C:/Users/arfa/OneDrive/Desktop/Responsive%20Portfolio%20Website/Responsive%20Portfolio%20Website/certifactes.html">Download Certificate</a>
                </div>
                <div class="column right">
                    <div class="bars">
                        <div class="info">
                            <span>HTML</span>
                            <span>80%</span>
                        </div>
                        <div class="line html"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>CSS</span>
                            <span>60%</span>
                        </div>
                        <div class="line css"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Graphic designing</span>
                            <span>75%</span>
                        </div>
                        <div class="line js"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>cpp</span>
                            <span>80%</span>
                        </div>
                        <div class="line php"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Java</span>
                            <span>50%</span>
                        </div>
                        <div class="line mysql"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact section start -->
    <section class="contact" id="contact">
        <div class="max-width">
            <h2 class="title">Contact me</h2>
            <div class="contact-content">
                <div class="column left">
                    
                    <div class="icons">
                        <div class="row">
                            <i class="fas fa-user"></i>
                            <div class="info">
                                <div class="head">Name</div>
                                <div class="sub-title">Arfa idrees</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="info">
                                <div class="head">Address</div>
                                <div class="sub-title">Sialkot,Pakistan</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-envelope"></i>
                            <div class="info">
                                <div class="head">Email</div>
                                <div class="sub-title">19101001-067@uskt.edu.pk</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column right">
                    <div class="text">Message me</div>
                    <form action="#">
                        <div class="fields">
                            <div class="field name">
                                <input type="text" placeholder="Enter your Name" required>
                            </div>
                            <div class="field email">
                                <input type="email" placeholder="Enter your Email" required>
                            </div>
                        </div>
                        <div class="field">
                            <input type="text" placeholder="Subject" required>
                        </div>
                        <div class="field textarea">
                            <textarea cols="30" rows="10" placeholder="Write Message" required></textarea>
                        </div>
                        <div class="button-area">
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- footer section start -->
    <footer>
        <span>Arfa Idrees | 19101001-067@uskt.edu.pk | Sialkot </span>
        <span>Manal Kashif | 19101001-0058@uskt.edu.pk | Sialkot </span>
        <span>Hajra Akram | 19101001-046@uskt.edu.pk | Sialkot </span>
    </footer>


@code {

    [Parameter]
    public ContactForm person { get; set; }

}
   a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}



